h1, h2, h3, h4, h5, h6{
    color: red;
}

* p [href]{
    color: black;
}

#ultimo ul{
    color: yellow;
}

#ultimo a{
    color:blue;
}

#importante{
    color: green;
}

h1#importante, h2#importante, h3#importante, h4#importante, h5#importante, h6#importante{
    color: red;
}

h1[title]{
    color: blue!important;
}


ol a{
    text-decoration: none;
}:link{
    color: blue;
}:visited{
    color: violet;
}